/*----------------------------------------------------------------
Template:	JB Corporate
Version:	Joomla 1.5 / Joomla 2.5
Zen Grid: 	v2.0
Copyright:	Joomlabamboo
Created:	April 2012
---------------------------------------------------*/