/*------------------------------------------------------------------
Module:	Zentools
Version:	Joomla 1.5 / Joomla 1.7
Copyright:	Joomlabamboo
Created:	December 2011
---------------------------------------------------*/
#items {
position: relative;width:90%;margin-top: 30px;padding-bottom: 300px;
}
#items ul{ list-style-type: none; margin: 0 0 30px; padding: 0;background: #fafafa;margin-top: 8px;border: 1px solid #ddd;margin-bottom:30px;width:100%; }

#items li { margin: 0 3px 3px 3px; padding: 4px;  font-size: 1.2em; height: 18px; background: #fff url(../../images/admin/gradient.png) repeat-x left bottom;border-radius:3px;border:1px solid #ddd;list-style-type:none;	cursor: move;text-align: center}


#items li.ui-state-highlight,#sortable2 li.ui-state-highlight {
background: #FCFBDD;}


#zenmessage p {
padding: 10px;height: 10px;overflow: hidden;background: url(../../images/admin/loading.gif) no-repeat left center;position: absolute;margin-top: -4px;width: 80%;display: none;padding-left: 40px;}

#instructions,.zennotice
{
	background:#FFF6BF url(../../images/admin/gear_24.png) no-repeat 10px center;
	color:#514721;
	border:1px solid #FFD324;
	width:60%;
	cursor:pointer;
	margin:10px;
	padding:10px 50px
}
 
.zennotice {margin: 10px 0;width: 78%;padding: 10px 6%;
}

#header {
top: 0;
}
#footer {
bottom: 0;clear: both;
}
#right {
right: 0;
}
#help {position: absolute;top: -95px;right: 20px} 
#help a {
background: url(../../images/admin/gear_24.png) no-repeat left center; padding: 10px 0 10px 25px;
}

select#paramsitemid,select#paramscatid {
height: 200px; 
}






td.paramlist_value {
position: relative;
}

ul#sortable2 {background: none;border: 0;
position: absolute;width: 100%;right: 0;left: 0px;
}

ul#sortable2 li {border-radius:3px;
width: 60px;background: #eee;float: left;color: #333;font-size: 90%;height: 12px;display: inline;margin: 0 10px 10px 0;padding-left: 0px;text-align: center;
}

#items li.disabled {
	border: 0;background: 0;font-size: 110%;font-weight: bold;display: block;width: 100%;margin-bottom: 10px;
}



.pane-sliders .panel h3,#toggleAll {
padding: 10px;background: #f5f5f5 url(../../images/admin/gradient.png) repeat-x left bottom!important;margin: 0;border-bottom: 1px solid #D6DADD;border-top: 1px solid #D6DADD
}

#toggleAll {
padding: 4px;border-radius:4px;border: 1px solid #ddd;cursor: pointer;
}

.zenheading h4.zentools {
padding: 8px 2% ;margin: 30px 0 10px 0;background: #fff !important;border-radius:4px;width: 88%;border:1px solid #dedede;color: #666;text-shadow: 1px 0 0 #fff
}

.pane-sliders .panel   { border-width: 0 1px !important; margin-bottom: 0 !important;
padding: 0px}

#menu-pane td,.zentools td {
background: #fff !important;padding: 4px 0 4px 20px !important;border: 0 !important;text-align: left;
}

table.paramlist td.paramlist_description {
	background:none !important;
	
}
label#paramslayout-lbl,label#paramsitemorder-lbl,input#paramsitemorder,label#paramsitems-lbl,label#paramsuseditems-lbl,#paramsuseditems,label#paramsunuseditems-lbl,#paramsunuseditems,
label#paramsitems-lbl {
display: none;
}

.pane-sliders .title {
	margin: 0;
	padding: 2px;
	color: #333 !important;
}



